<div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4 text-white text-center" id="a">
    <h1>Have Any Queries? <br>Contact us </h1>
    <h3 class="text-body"><i class="fas fa-users"></i>Our Team is ready to help</h3>
    </div>
    
    </div>
    <div class="container mt-5">
    <div class="row">
    <div class="col-md-5 text-white text-center rounded-circle " id="circle1">
    <h5 class="mt-3">You can contact us through</h5>
    <p><i class="fab fa-facebook-f"></i>-Facebook <br><i class="fab fa-twitter"></i>-Twitter <br><i class="fab fa-instagram"></i>-Instagram</p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 text-white text-center rounded-circle" id="circle2">
    <p class="mt-3">You can drop your query here</p>
    <input type="message" class="inputt-box" placeholder="Type your message...">
    </div>
    
    </div>
    
    </div>
    
    <div class="container mt-5">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-white text-center rounded-circle" id="circle3">
    <p class="mt-3 mb-3">Want more details? <br>Contact us through <br><i class="fas fa-phone-alt"></i>Phone:1234567890<br><i class="fas fa-sms"></i>You can also send message to same number.</p>
    </div>
    
    </div>
    </div>
    