#a{
    margin-top: 40px;
    background-color: rgb(69, 94, 94);
    border-radius: 10px;
    padding:20px;
    }
    
    #circle1{
    background-color: rgb(90, 69, 94);
    }
    #circle2{
    background-color: rgb(80, 141, 170);
    }
    
    #circle3{
    background-color: rgb(15, 48, 46);
    }
    