#background{
    background-image: url("https://www.thebalancecareers.com/thmb/hKctLkuZxqFGd3XpQCUjQBjSPjQ=/3436x2577/smart/filters:no_upscale()/school-books-on-desk--education-concept-871454068-5b548900c9e77c005b04fc8c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    }
    