<div class="container-fluid">
    <div class="d-block mx-auto text-center text-white mt-5" id="part1">
        <h2 class="pt-3">Start your journey with Learning App<i class="fas fa-graduation-cap"></i></h2>
        <img src="https://musabahmad43.files.wordpress.com/2018/05/videoblocks-programming-language-animated-word-cloud-text-design-animation_hheyf-67pl_thumbnail-full09.png" alt="" width="600px">
    </div>
</div>
    
<div class="container-fluid">
    <div class="card mb-5 mt-5 d-block mx-auto" id="Ccard" style="max-width: 950px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/C_Programming_Language.svg/1200px-C_Programming_Language.svg.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-white text-center">
                    <h2 class="card-title">C</h2>
                    <p class="card-text">C is robust language and has rich set of built-in functions, data types and operators which can be used to write any complex program. <br>C Developer salary in India ranges between 1.9 Lakhs to 11.9 Lakhs with an average annual salary of 4.2 Lakhs.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5 d-block mx-auto" id="Cppcard" style="max-width: 950px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h5 class="card-title">C++</h5>
                    <p class="card-text">C++ is a general-purpose, object-oriented programming language <br>C++ also has some additional facilities to those in C such as classes, inheritance, default function argument, etc. <br>The average salary for a c++ developer is 8,13,604 per year in India</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5 d-block mx-auto text-white" id="dbmscard" style="max-width: 950px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://2.bp.blogspot.com/-efIR_YnlaVM/WdTm2paJxgI/AAAAAAAAAIs/V0pufbOBOPcQBkm8VjzNKClH24ds8hRVwCLcBGAs/s1600/DBMS1.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h5 class="card-title">Data Base Management System</h5>
                   <p class="card-text">A DBMS provides mechanisms to deal with this kind of data inconsistency while allowing users to access data concurrently. A DBMS implements ACID(atomicity, durability, isolation,consistency) properties to ensure efficient transaction management without data corruption. <br>The average salary for a Database Developer is 6,10,147 per year</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-5 d-block mx-auto" id="pythoncard" style="max-width: 950px;" >
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://images.ctfassets.net/mrop88jh71hl/55rrbZfwMaURHZKAUc5oOW/9e5fe805eb03135b82e962e92169ce6d/python-programming-language.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body text-center">
                    <h5 class="card-title">Python</h5>
                    <p class="card-text">Python is easy to read, write, and learn <br>Python's efficient syntax allows programmers to get up and running fast, and pack logic into compact scripts. Python is also an interpreted programming language. <br>The average entry-level Python Developer Salary in India is INR 427,293 per annum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
    